
.form{
    display: flex;
    flex-direction: row;
}
.todolist{
    display: flex;
    width: 400px;
    height: 30px;
    border: gainsboro 1px solid;
    padding: 3px;
}
.editButton{
    height: 36px;
}

@media(min-width: 320px)and(max-width: 7688px){
    .todolist{
        width: 300px;
    }
}
