.form{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.todolist{
    display: flex;
    width: 100%;
    height: 30px;
    border: gainsboro 1px solid;
    padding: 3px;
}
.editButton{
    height: 36px;
}

.done{
    text-decoration: line-through;
}

@media(min-width: 320px)and(max-width: 768px){
    .form{
        display: flex;
        flex-direction: row;
        width: 130px;
    }
}
